.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    width: 375px;
}

main {
    text-align: center;
}

/* Class selector */

.content-header {
    --rad: 7%;
    display: flex;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-bottom-left-radius: var(--rad);
    border-bottom-right-radius: var(--rad);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.header-title {
    color: hsl(241, 100%, 89%);
    font-size: 9px;
}

.header-score {
    --dimension: 125px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0.5), hsla(241, 72%, 46%, 0));
    width: var(--dimension);
    height: var(--dimension);
}

.header-score h2 {
    color: hsl(0, 0%, 100%);
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 20px;
}

.header-score p {
    margin-top: 0;
    color: hsla(0, 0%, 100%, 40%);
    text-shadow: none;
}

.header-comment h2 {
    color: hsl(0, 0%, 100%);
    text-shadow: none;
    margin-bottom: 10px;
}

.header-comment p {
    width: 75%;
    margin: 0 auto;
    color: hsla(0, 0%, 100%, 60%);
    
}

.content-summary h2 {
    text-align: left;
    font-size: 18px; 
    margin: 25px 30px;
    color: rgba(0, 0, 0, 70%);
}

.content-summary ul {
    padding: 0;
}

.content-summary li {
    --rad: 5px;
    list-style-type: none;
    list-style-position: inside;
    height: 50px;
    width: 85%;
    display: flex;
    margin: 20px auto;
    border-radius: var(--rad);
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.summary-icon, .summary-title, .summary-score {
    position: relative;
    font-weight: 700;
}

.summary-icon{
    left: 20px;
}

.summary-title {
    left: 30px;
    flex-grow: 2;
}

.summary-score {
    right: 20px;
    color: rgba(0, 0, 0, 70%);
    
}

.total-score {
    color: hsla(0, 0%, 40%, 60%);
    font-weight: 700;
}

li.reaction {
    background-color: hsla(0, 100%, 67%, 5%);
    color: hsla(0, 100%, 67%, 80%);
}

li.memory {
    background-color: hsla(39, 100%, 56%, 5%);
    color: hsla(39, 100%, 56%, 80%);
}

li.verbal {
    background-color: hsla(166, 100%, 37%, 5%);
    color: hsla(166, 100%, 37%, 80%);
}

li.visual {
    background-color: hsla(234, 85%, 45%, 5%);
    color: hsla(234, 85%, 45%, 80%);
}

button.btn {
    background-color: hsl(224, 30%, 27%);
    color: white;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    width: 85%;
    padding: 16px 0;
    border-radius: 50px;
    
}

@media only screen and (min-width: 768px) {

    body {
        width: 100%;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-header, .content-summary {
        width: 300px;
        height: 400px;
    }

    .content-header {
        --rad: 7%;
        border-top-right-radius: var(--rad);
        border-top-left-radius: var(--rad);
       /* justify-content: center; */
    }


    
}

