.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

main {
    text-align: center;
}

/* Class selector */

.content-header {
    --rad: 7%;
    display: flex;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-bottom-left-radius: var(--rad);
    border-bottom-right-radius: var(--rad);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    color: hsl(241, 100%, 89%);
    font-size: 9px;
}

.header-score {
    --dimension: 125px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0.5), hsla(241, 72%, 46%, 0));
    width: var(--dimension);
    height: var(--dimension);
}

.header-score h2 {
    color: hsl(0, 0%, 100%);
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 20px;
}

.header-score p {
    margin-top: 0;
    color: hsla(0, 0%, 100%, 40%);
    text-shadow: none;
}